.author-list {
  margin-left: 30px;
  margin-right: 30px;

  width: 300px;
}
.author-table {
  overflow-y: scroll;
  max-height: 300px;
  min-width: 300px;
}

.author-filter-input {
  width: 300px;
}

.selected-author {
  color: blue;
  text-decoration: underline;
}

.author-row-text {
  cursor: pointer;
}
